# Ignore Pesky Development Files
.DS_Store

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/modules/ottu_web_usability/
sites/all/themes/genesis_ottu/
sites/all/modules/examples/
sites/all/modules/potx/