@charset "utf-8";
 /*
 * Menu bar v1.0a7 / Barre de menu v1.0a7
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
.wet-boew-menubar {min-height:28px;height:2.15em;border-bottom: 4px solid #242;border-top: 2px solid #797;}
.wet-boew-menu {width:760px;min-height:28px;float:left;background:#363;z-index:10001;}
.wet-boew-menu, .wet-boew-menu li{list-style:none;margin:0;padding:0;}
.wet-boew-menu li {float:left;}
.wet-boew-menu .toplevel {font-size:1em;font-weight:400;padding:0;margin:0;height:auto;width:auto;border-left:1px solid #353;border-right:1px solid #575;}
.wet-boew-menu ul>:first-child, .wet-boew-menu ul>:first-child .toplevel {border-left:none;}
.wet-boew-menu a {font-weight: bold;min-height:16px;}
.wet-boew-menu .nav-current,.wet-boew-menu .submenuopen,.wet-boew-menu .toplevel a:hover,.wet-boew-menu .toplevel a:focus,.wet-boew-menu .toplevel a:active{background:#242;}
.wet-boew-menu a,.wet-boew-menu a:link,.wet-boew-menu a:visited {color:#fff;text-decoration:none;text-align:left;display:inline-block;padding:0.461em 10px;}
.wet-boew-menu a:hover,.wet-boew-menu a:focus,.wet-boew-menu a:active,.wet-boew-menu .hassubmenu:hover .sublink,.wet-boew-menu .hassubmenu:focus .sublink,.wet-boew-menu .hassubmenu:active .sublink{color:#fff;text-decoration:underline;}
.wet-boew-menu a.hassubmenu:hover,.wet-boew-menu a.hassubmenu:focus,.wet-boew-menu a.hassubmenu:active{color:#fff;text-decoration:none;}
.wet-boew-menu .showcase {display: none; visibility: hidden;}
.wet-boew-menu .showcase-visible a,.wet-boew-menu .showcase-visible a:link,.wet-boew-menu .showcase-visible a:visited{color:#000;}
.wet-boew-menu .nav-current-sub,.wet-boew-menu .showcase-visible a:hover,.wet-boew-menu .showcase-visible a:focus,.wet-boew-menu .showcase-visible a:active{color:#fff;background:#242;}
.wet-boew-menu .expandicon {position: relative; display: inline-block; padding-right: 12px; background: url("MenuDropDown.gif") no-repeat right center;}

/** Mega menu **/
.wet-boew-megamenu .showcase-visible h2, .wet-boew-megamenu .showcase-visible h3, .wet-boew-megamenu .showcase-visible h4{font-size:1.2em;font-weight:700;margin:0 0 10px;text-shadow:0 1px 0 #254145;}
.wet-boew-megamenu .showcase-visible{background-color: #CC9;position:absolute;z-index:10000;padding:10px 0;border-top:4px solid #242;border-bottom:4px solid #242;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;}
* html .wet-boew-megamenu .showcase-visible {width:760px;left:0;}
.wet-boew-megamenu .showcase-visible ul{list-style-type:none;margin:0 0 0 1.2em;padding:0 0 1em;}
.wet-boew-megamenu .showcase-visible li{border:none;float:none !important;}
.wet-boew-megamenu .showcase-visible div {float:left;}

/** Tabbed menu **/
.wet-boew-tabbedmenu .showcase-visible {width:1px; height:2.5em;}
.wet-boew-tabbedmenu .showcase-visible ul {width:760px;background-color:#CC9;border-top: 4px solid #224422;position:absolute;left:0;z-index:4000;list-style-type:none;margin:0;padding:0;}
.wet-boew-tabbedmenu .showcase-visible li {border-left:1px solid #BBAA88;border-right:1px solid #EDFFBA;}