h2{border-bottom:1px solid #28507a;}
#cn-banner{background-color:#28507a;}
.cn-subsite-1{background:#00727C url(../images/cn-subsite-1.gif) repeat-x  0 bottom;}
#cn-psnb .wet-boew-menu .nav-current,#cn-psnb .wet-boew-menu .submenuopen,#cn-psnb .wet-boew-menu .toplevel a:hover,#cn-psnb .wet-boew-menu .toplevel a:focus,#cn-psnb .wet-boew-menu .toplevel a:active{background:#28507a;}
#cn-psnb .wet-boew-menu .toplevel a:hover,#cn-psnb .wet-boew-menu .toplevel a:focus,#cn-psnb .wet-boew-menu .toplevel a:active{background:#28507a;color:#fff;border-left-color:#28507a;border-right-color:#28507a;}
#cn-psnb .wet-boew-menu li:first-child .toplevel:hover,#cn-psnb .wet-boew-menu li:first-child .toplevel:focus,#cn-psnb .wet-boew-menu .toplevel:hover,#cn-psnb .wet-boew-menu .toplevel:focus,#cn-psnb .wet-boew-menu > li:hover a.nav-current,#cn-psnb .wet-boew-menu > li:active a.nav-current,#cn-psnb .wet-boew-menu > li:focus a.nav-current,#cn-psnb .wet-boew-menu li:hover a{background:#28507a;color:#fff;border-left-color:#28507a;border-right-color:#28507a;}
#cn-psnb .wet-boew-menu .toplevel{border-left-color:#1b5a9f;border-right-color:#3874bd;}
#cn-psnb .wet-boew-megamenu .showcase-visible{background-color:#28507a;}
#cn-psnb .wet-boew-menu .nav-current-sub,#cn-psnb .wet-boew-menu .showcase-visible a:hover,#cn-psnb .wet-boew-menu .showcase-visible a:focus,#cn-psnb .wet-boew-menu .showcase-visible a:active{background:#293742;}
.cn-left-col-default h3 a.nav-current,.cn-left-col-default h3 a.nav-current:link,.cn-left-col-default h3 a.nav-current:visited{color:#276cb9;}
.cn-left-col-default a.nav-current,.cn-left-col-default a.nav-current:link,.cn-left-col-default a.nav-current:visited{background:#276cb9;}

/* Overrides from util.css */
.embedded-nav a,.embedded-nav a:visited,.embedded-nav a:link{background:#276cb9;border-color:#276cb9;}
.embedded-nav .embedded-link-active{color:#276cb9;}
.embedded-nav a:hover,.embedded-nav a:focus{border-color:#276cb9;}
.table-accent{border-color:#276cb9;}
.table-accent th{background-color:#276cb9 !important;}
.background-accent{background-color:#276cb9 !important;}
td.calendar-today{border-color:#276cb9;}
h2.background-accent,h3.background-accent,h4.background-accent,h5.background-accent,h6.background-accent{background:#276cb9;}
.module-welcomepage h2{background:#276cb9;}
.module-billboard li{background-color:#276cb9;}
.module-news h2 a,.module-news h3 a{color:#276cb9;}
.module-news .module-news-article a{background:#276cb9;}
.module-news .module-news-article span a{color:#276cb9;}
.module-spotlight li span a{color:#276cb9;}
.teaser-1{background-color:#276cb9;}